@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}

.grid {
  display: flex;
  width: 100%;
  height: auto;
}

.col-1-2 {
  width: 47.5%;
}